<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            width: 100%;
        }
        .wrapper {
            max-width: fit-content;
            margin: 1rem auto;
        }
        .link-wrapper {
            display: grid;
            flex-direction: row;
        }
        .link {
            font-size: 1.5rem;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 6px;
            margin: 5px;

        }
    </style>
</head>
<body>
    <div class="wrapper">
        {% block content %}
        <h2> Open AI Image Model </h2>
        <div class="link-wrapper">
            <a class="link" href="{% url 'app:generate' %}"> Generate an image with text </a>
            <a class="link" href="{% url 'app:edit' %}"> Edit an image with text </a>
        </div>
        {% endblock %}
    </div>

</body>
</html>